
html{
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body{

    font-family: 'Hind', sans-serif !important
    font-size: 14px !important;
    line-height: 1.1 !important;
    color: #191919 !important;
    font-weight: 400 !important;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.custom-text-dark{
    color: #000000 !important;
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 14px 0;
    font-weight: 500;
}

.btn-primary{
      color: #fff;
      background-color: #2879fe !important;
      border-color: #2879fe !important;
}
.cust-link-tag-btn:hover{
    color: #fff !important;
    background-color: #2879fe !important;
    border-color: #2879fe !important;
}

a {
    color: #191919 !important;
}

p{
  font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #777777;
}

label{
    font-weight: 500 !important;
    padding-bottom: 4px !important;
    letter-spacing: 0.02em !important;
}

/*for login screen div height same*/
.row-flex {
  display: flex !important;
  flex-wrap: wrap !important;
}

.content {
  height: 100% !important;
}

/*end*/

.link-active a{
  color: #2879fe !important;
}