html{
    font-size: 14px !important;
    line-height: 1.15 !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -ms-overflow-style: scrollbar !important;
    -webkit-tap-highlight-color: transparent !important;
}

body{

    line-height: 1.1 !important;
    color: #191919 !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
}

.custom-text-dark{

    color: #000000 !important;
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 14px 0;
    font-weight: 500;
}

.custom-font-dark{
    color: #000000 !important;
    font-weight: 500;
}

.btn-primary{
      color: #fff;
      background-color: #2879fe !important;
      border-color: #2879fe !important;
}
.cust-link-tag-btn:hover{
    color: #fff !important;
    background-color: #2879fe !important;
    border-color: #2879fe !important;
}

a {
    color: #191919 !important;
    text-decoration: none !important;
}

p{
    line-height: 22px;
    color: #777777;
}

label{
    
    font-weight: 500 !important;
    padding-bottom: 4px !important;
    letter-spacing: 0.02em !important;
}

/*for login screen div height same*/

.row-flex {
    display: flex !important;
    flex-wrap: wrap !important;
}

.content {
  height: 100% !important;
}

/*end*/

.link-active a{
  color: #2879fe !important;
}

.megamenu-li {
    position: static !important;
}

.megamenu {
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
    margin-top: 0px !important;
}

.custom-li{
    padding: 0px;
}

.custom-li li {
    list-style: none;
    padding: 7px 0px;
    text-transform: capitalize;
}

.custom-li li a {
    text-decoration: none;
    cursor: pointer;
}

.dashboard-list li a:hover {

    background-color: #f5faff !important;
    color: #2874f0 !important;
}

.cust-signup-btn {
    border: 1px solid #BFC0C6 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: #FFFFFF !important;
}

.cust-signup-btn img {
    float: left;
}

.cust-signup-btn p {
    padding: 0px !important;
    margin: 0px !important;
    padding-top: 5px !important;
}

/*color filter styles*/
.red-color{
    /*background: rgb(245, 245, 220);*/
    background: red;
    padding: 0px 15px;
    border-radius: 4px;
}

.yellow-color{
    /*background: rgb(245, 245, 220);*/
    background: yellow;
    padding: 0px 15px;
    border-radius: 4px;
}

.green-color{
    /*background: rgb(245, 245, 220);*/
    background: green;
    padding: 0px 15px;
    border-radius: 4px;
}

.btn{
    cursor: pointer !important;
}

.cust-navbar-search input {
    border-bottom: 1px solid #3294ff !important;
    border-radius: 0;
}


.cust-navbar-search input:focus {
   box-shadow: none !important;
}